.field {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
}

.close-btn {
    margin-right: 10px; /* Adjust margin as needed */
}

.header h2 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.content {
    width: 100%;
}